<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  
<!-- 3. dao, sql 연동   -->
 <configuration>
  	<typeAliases>
		<typeAlias type="kr.or.ddit.user.model.UserVo" alias="userVo" />
		<typeAlias type="kr.or.ddit.board.model.BoardVo" alias="boardVo" />
		<typeAlias type="kr.or.ddit.board.model.TextVo" alias="textVo" />
		<typeAlias type="kr.or.ddit.util.model.PageVo" alias="pageVo" />
  	</typeAliases>
  	
  	<mappers>
		<mapper resource="kr/or/ddit/config/db/user.xml" />
		<mapper resource="kr/or/ddit/config/db/board.xml" />
  	</mappers>
  
 </configuration>
